.icon-and-title {
    flex-direction: column;
    min-width: 60px;
    background-color: var(--side-nav-bg-color);
    border-radius: 5px;
    height: 100%;
}

.icon {
    width: 20px;
    height: 20px;
    text-align: center;
}

.text {
    padding-top: 5px;
    text-align: center;
}